﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery-3.0.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/checklist-model.js"></script>
    <script src="scripts/controllers/musicaController.js"></script>
</head>
<body ng-app="app" ng-controller="musicaController">
    <div ng-include="'header.html'"></div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h2>Lista de Músicas</h2>
                        <div ng-show="ErrorLista != null" >
                            <div class="alert alert-danger">{{ErrorLista}}</div>
                        </div>
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Gênero</th>
                                <th>Autores</th>
                                <th>#</th>
                            </tr>
                            <tr data-ng-repeat="musica in Musicas">
                                <td>{{musica.codigo}}</td>
                                <td>{{musica.nome}}</td>
                                <td>{{musica.genero.nome}}</td>
                                <td>{{musica.autores}}</td>
                                <td>
                                    <input type="button" class="btn btn-outline-dark" ng-click="EditarMusica($index)" value="Editar" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>