﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery-3.0.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/checklist-model.js"></script>
    <script src="scripts/controllers/musicaController.js"></script>
</head>
<body ng-app="app" ng-controller="musicaController">
    <div ng-include="'header.html'"></div>
    <div class="container">
        <div class="content">
            <h2>Nova Música</h2>
            <div ng-show="Sucesso != null">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{Sucesso}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div ng-show="Error != null">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{Error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <form name="formMusica" class="jumbotron">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Código</label>
                            <input type="text" class="form-control" ng-model="Musica.codigo" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" ng-model="Musica.nome" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Gênero</label>
                            <select class="form-control" ng-options="genero.id as genero.nome for genero in Generos" ng-model="Musica.generoId">
                                <option value="0">Selecione o gênero</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h5><strong>Lista de Autores</strong> </h5>
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                </tr>
                                <tr data-ng-repeat="autor in Autores">
                                    <td>
                                        <input type="checkbox" checklist-model="Musica.idsAutores" checklist-value="autor.id">
                                    </td>
                                    <td>{{autor.codigo}}</td>
                                    <td>{{autor.nome}}</td>
                                    <td>{{autor.categoria.nome}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="button" value="INCLUIR" ng-show="Musica.id == null" ng-hide="Musica.id != null"
                                   class="btn btn-success" ng-click="Incluir(Musica)" ng-disabled="Musica.codigo == null || Musica.nome == null || Musica.generoId == null || Musica.idsAutores == null || Musica.idsAutores == []" />
                            <input type="button" value="ALTERAR" ng-show="Musica.id != null" ng-hide="Musica.id == null" class="btn btn-success" ng-click="SalvarMusica(Musica)" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>