﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery-3.0.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/controllers/autorController.js"></script>
</head>
<body ng-app="app" ng-controller="autorController">
    <div ng-include="'header.html'"></div>
    <div class="container">
        <div class="content">
            <h2>Novo Autor</h2>
            <div ng-show="Sucesso != null">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{Sucesso}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div ng-show="{{Error != null}}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{Error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <form name="formAutor" class="jumbotron">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Código</label>
                            <input type="text" class="form-control" ng-model="Autor.codigo"/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" ng-model="Autor.nome" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Categoria</label>
                            <select class="form-control" ng-options="categoria.id as categoria.nome for categoria in Categorias" ng-model="Autor.categoriaId">
                                <option value="0">Selecione a categoria</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="button" value="INCLUIR" ng-show="Autor.id == null" ng-hide="Autor.id != null" 
                                   class="btn btn-success" ng-click="Incluir(Autor)" ng-disabled="Autor.nome == null || Autor.codigo == null || Autor.categoriaId == null"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h5><strong>Lista de Autores</strong> </h5>
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                </tr>
                                <tr data-ng-repeat="autor in Autores">
                                    <td>{{autor.codigo}}</td>
                                    <td>{{autor.nome}}</td>
                                    <td>{{autor.categoria.nome}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>